* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.oct-cell-border {
  position: relative;
  background-color: white;
  width: 50px;
  height: 50px;
  /* width: 100%;
    height: 100%; */
  clip-path: polygon(
    29.29% 0,
    70.71% 0,
    100% 29.29%,
    100% 70.71%,
    70.71% 100%,
    29.29% 100%,
    0 70.71%,
    0 29.29%
  );
  align-items: center;
  justify-content: center;
  display: flex;
}

.oct-square-cell-border {
  position: relative;
  background-color: white;
  width: 50px;
  height: 50px;
  /* width: 100%;
    height: 100%; */
  clip-path: polygon(
    29.29% 29.29%,
    70.71% 29.29%,
    70.71% 70.71%,
    29.29% 70.71%
  );
  align-items: center;
  justify-content: center;
  display: flex;
}

.oct-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(
    29.29% 29.29%,
    70.71% 29.29%,
    70.71% 70.71%,
    29.29% 70.71%
  );
  flex-grow: 0;
  flex-shrink: 0;
}

.oct-column {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
