/* Minesweeper.css or SquareGrid.css */

.square-grid {
  aspect-ratio: 1 / 1;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square-cell-border {
  position: relative;
  background-color: white;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.square-column {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
