/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  background-color: #f4f4f4;
  transition: background-color 0.3s ease;
  height: 90vh; /* navbar is 10vh, so main content is 90vh */
  overflow-y: auto; /* scroll if content overflows */
}

/* Dark mode background */
.dark-mode .main-content {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode {
  background-color: red !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
