.octcell-border {
  position: relative;
  background-color: lightblue;
  width: 50px;
  height: 43.3px;
  /* width: 100%;
  height: 100%; */
  clip-path: polygon(
    29.29% 0,
    70.71% 0,
    100% 29.29%,
    100% 70.71%,
    70.71% 100%,
    29.29% 100%,
    0 70.71%,
    0 29.29%
  );
  align-items: center;
  justify-content: center;
  display: flex;
}
